@charset "UTF-8";

@use 'functions' as functions;

.post-page {
    width: 100%;
    padding: 0 10vw;
    margin-bottom: 160px;
    margin-top: 128px;

    @include functions.respond-to(sp) {
        margin-bottom: 80px;
        padding: 0 20px;
    }

    .post-page-inner {
        width: 100%;
    }

    &__title {
        @include functions.raleway;
        font-size: 30px;
        letter-spacing: 3px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 80px;
        color: #333333;

        @include functions.respond-to(tb) {
            font-size: 24px;
            margin-bottom: 40px;
            letter-spacing: 2px;
        }
    }

    .detail {
        margin-bottom: 120px;

        @include functions.respond-to(sp) {
            margin-bottom: 80px;
        }

        .detail-item {
            display: flex;
            margin-bottom: 128px;

            @include functions.respond-to(sp) {
                flex-direction: column;
                gap: 20px;
                margin-bottom: 64px;
            }

            &:last-child {
                margin-bottom: 0
            }
        }

        .contents {
            margin-bottom: 160px;
            text-align: center;

            video {
                width: 60%;

                @include functions.respond-to(sp) {
                    width: 100%;
                }
            }

            &__img {

                img {
                    width: 100%;
                }
            }
        }

        .outlineFlex {
            display: flex;
            flex-direction: column;
            gap: 40px;

            @include functions.respond-to(sp) {
                gap: 20px;
            }
        }



        .outline {
            display: flex;
            flex-direction: column;
            gap: 20px;

            &__en {
                @include functions.instrument;
                font-size: 2.2rem;
                line-height: 200%;
                font-weight: 200;
                color: #1A1919;

                @include functions.respond-to(sp) {
                    font-size: 18px;
                }
            }

            &__ja {
                @include functions.notosans;
                font-size: 1.6rem;
                letter-spacing: 1px;
                line-height: 220%;
                font-weight: 400;
                text-align: justify;
                color: #1A1919;

                @include functions.respond-to(sp) {
                    font-size: 1.4rem;
                    line-height: 2.4;
                }
            }
        }

        &__title {
            @include functions.instrument;
            font-size: 3rem;
            letter-spacing: 1px;
            font-weight: 600;
            text-transform: uppercase;
            flex: 1;
            color: #868686;

            @include functions.respond-to(sp) {
                font-size: 28px;
            }
        }

        &__text {
            flex: 5;
            @include functions.instrument;
            font-size: 3.2rem;
            text-align: right;
            color: #222222;

            @include functions.respond-to(sp) {
                text-align: left;
                font-size: 16px;
            }

            &--en {
                @include functions.instrument;
                font-weight: 500;
                font-size: 2.8rem;
                text-align: right;
                flex: 5;
                color: #222222;

                @include functions.respond-to(sp) {
                    text-align: left;
                    font-size: 24px;
                }
            }

            &--url {
                @include functions.instrument;
                font-weight: 500;
                font-size: 2.8rem;
                text-align: right;
                flex: 5;
                color: #222222;
                position: relative;

                &:after {
                    content: "";
                    display: block;
                    margin: 4px auto 0 auto;
                    width: 100%;
                    height: 1.5px;
                    background-color: #1A1919;
                    position: absolute;
                    top: 40px;
                    right: 0;
                    opacity: 0;
                    transform: scaleX(0);
                    transform-origin: left top;
                    transition: .3s ease-in-out;
                }
        
                &:hover::after {
                    opacity: 1;
                    transform: scaleX(1);
                    transition: .3s ease-in-out;
                }

                @include functions.respond-to(sp) {
                    font-size: 2.4rem;
                }
            }
        }

        .text-outline {

            @include functions.respond-to(sp) {
                line-height: 2.4;
            }
        }
    }

    &__text {
        text-align: center
    }

    &__link {
        @include functions.notosans;
        color: #1A1919;
        font-size: 16px;
        letter-spacing: 1.8px;
        position: relative;

        @include functions.respond-to(sp) {
            font-size: 14px;
            letter-spacing: 1px;
        }

        &:after {
            content: "";
            display: block;
            margin: 4px auto 0 auto;
            width: 15%;
            height: 1.5px;
            background-color: #1A1919;
            // position: absolute;
            // top: 40px;
            opacity: 0;
            transform: scaleX(0);
            transform-origin: left top;
            transition: .3s ease-in-out;
        }

        &:hover::after {
            opacity: 1;
            transform: scaleX(1);
            transition: .3s ease-in-out;
        }
    }

}